h2 {
  color: #663399;
  text: #dfff4f;
  font-family: arial;
  text-align: center;

}
hr{
  background-color: white;
}
body{
  background-image: url("https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/16406995_10207694545672402_656711070974404409_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=flpPKY2WOB4AX876EtE&_nc_oc=AQlRQE56ymtP5HIOfeoVG0v9Ix-bTWto_F75VulZN4iKXLdgkRH8RCpeqjMencR5TmU&_nc_ht=scontent-msp1-1.xx&oh=18568b3ee38bb1d7793da7a533e599f5&oe=5FF145C1");
  background-color: #663399;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav{
  text-align: center;
}
.going-places {
  background-color: #dfff4f;
  color: #663399;
  border-color: #663399;
  border-radius: 5px;
  cursor: pointer;
}
.going-places:hover {
  transform: scale(1.1);
  color: #C20000;
  background-color: white;
  border-color: #C20000;
  border-radius: 5px;
}
section {
  float:left;
  width:20%;
  color: #663399;
}
aside {
  text-align: right;
}
footer {
  color: #C20000;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  border-color: #C20000;
}
@media (min-width: 1030px) {
  body {background-size: contain;
  background-repeat: repeat;
}
}
